<app-navbar></app-navbar>
<div class="spacer"> </div>
<div class="home">
    <div class='card col-md-8'>
        <div class="card-body">
            <h2>Account-based-mockup</h2>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="FIND burgers, bars, spas, handymen..." aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button [routerLink]="['/search']" class="btn btn-primary" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>